body {
  margin: 0;
  font: 14px/1.6 "Helvetica Neue", Helvetica, arial, sans-serif;
}

a {
  text-decoration: none;
}

#wrapper {
  padding: 0 100px;
}

#page-title h1 {
  font-size: 76px;
  font-weight: 200;
  margin-bottom: 0;
}
#page-title hr {
  margin-bottom: 20px;
  border-top: 1px solid #6a6769;
  border-bottom: 0;
}

pre {
  font: 12px/1.6 "monaco","Consolas","Lucida console", monospace;
  color: #3c3739;
}
/* comment */
code .comment { color: #6a6769; }
code .init { color: #3f6d46; }
code .string { color: #9d3e48; }
code .keyword { color: #06739d; }
code .number { color: #4f4290; }
code .reserved { color: #504290; }
